fastapi~=0.110.1
uvicorn~=0.29.0
pydantic~=2.6.4
python-dotenv
pydantic-settings
sqlalchemy~=2.0.29
python-jose
passlib[bcrypt]~=1.7.4
python-multipart
pyotp~=2.9.0
pyqrcode~=1.2.1
pypng
jose
torch
sentence-transformers