fastapi~=0.110.3
uvicorn~=0.29.0
pydantic~=2.6.4
sqlalchemy~=2.0.32
passlib[bcrypt]~=1.7.4
pyotp~=2.9.0
pyqrcode~=1.2.1
python-jose[cryptography]
pydantic_settings
python-multipart
uuid~=1.30
pathlib~=1.0.1
vt-py
flower
gunicorn
